.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.button {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  padding: 2px 4px;
  transition: background 0.3s ease;
  width: 30px;
  height: 30px;
}

.button:hover {
  background: rgb(115, 22, 22);
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  overflow-x: hidden; /* prevent manual scroll conflicting with JS */
  scroll-behavior: smooth;
  gap: 16px;
  padding: 20px 40px;
  flex: 1;
}

.itemWrapper {
  flex: 0 0 auto;
  width: 300px;
}
